*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}

nav{
    background-color: black;
    color: white;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    list-style-type: none;
    margin: 14px 23px;
    cursor: pointer;
}

#brand{
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#brand img{
    width: 47px;
}

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.container{
    background: url('../img/bg.jpg');
    /* background-repeat: no-repeat; */
    height: 709px;
    width: 80vw;
    background-size: 1215px;
    margin: 23px auto;
    border-radius: 23px;
    padding: 0 50px;
}

.media{
    display: flex;
    align-items: center;
    margin: 21px 0;
    background-color: white;
    width: 371px;
    justify-content: space-between;
    border-radius: 18px;
    box-shadow: 3px 3px black;
}

.media img{
    border-radius: 27px;
    width: 41px;
    cursor: pointer;
}

.container h2{
    padding: 16px 25px;
    background-color: black;
    border-radius: 55px;
    color: white;
}

.gif{
    opacity: 0;
    transition-duration: 0.4s;
}